html {
  height: 98%;
  width: 99%;
  font-size: 1vw;
}


body {
  font-family: sans-serif;
  height: 98%;
  margin: 0;
  padding: 0;
  width: 99%;
}

.App-explanation {
  font-size: 2vw;
  background-color: lightgray;
  text-align: left;
}


.App-explanation-button {
  font-size: 2vw;
  height: 3vw;
  margin-top: 0.5vw;
  text-align: center;
  width: 27vw;
}

.DiceCap-button {
  background-color: lightblue;
  border-radius: 25%;
  font-size: 2vw;
  height: 9vw;
  margin-top: 0.5vw;
  text-align: center;
  width: 9vw;
}

.DiceRoller-button {
  font-size: 2vw;
  height: 9vw;
  margin-top: 0.5vw;
  text-align: center;
  width: 9vw;
}
